.button {
  padding: 0.2rem 0.5rem;
  border: none;
  border-radius: 1rem;
  color: var(--green-400);
  background-color: var(--green-300);
  transition: all 0.2s ease-in-out;
  user-select: none;
  cursor: pointer;

  &:hover {
    background-color: var(--green-400);
    color: var(--green-200);
  }
}
