@import 'variables';
@import 'components';
@import 'animation';
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--green-100);
  color: var(--green-500);
  -webkit-tap-highlight-color: transparent;

  --swiper-pagination-color: var(--green-400);
  --swiper-navigation-color: var(--green-400);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  padding: 2rem;
}
