@import 'variables';
@import 'components';
@import 'animation';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--green-100);
  color: var(--green-500);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  padding: 2rem;
}
